<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
</head>
<body>
<div class="container text-white main" style="background-color: #495057;">
    <div class="col-md-10  mx-auto text-center" style="height: 775px;margin-top: 0px">
        <h1 class="" style="user-select:none; padding-top: 60px">Getit</h1>
        <p class="py-2 center" style="user-select:none;">注册</p>
        {% if register_form.errors.items %}
        <div class="alert alert-danger showInfo">
            {% for key,error in register_form.errors.items %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if msg is not null %}
            <div class="alert alert-danger showInfo">
                {{ msg }}
            </div>
        {% endif %}
        <form action="{% url 'register' %}" class="" role="form" method="post">
            <div class="my-lg-5">
                <label for="username" class="col-form-label col-sm-2 float-left text-right">用户名：</label>
                <div class="form-group">
                    <input type="text" name="username" id="username" class="user col-sm-8 form-control" placeholder="4到16位：字母，数字，下划线，减号 (必填)" onblur="user(this.value)"/>
                </div>
            </div>
            <div class="my-lg-5">
                <label for="password" class="col-form-label col-sm-2 float-left text-right">密码：</label>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="pass col-sm-8 form-control" placeholder="最少6位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符(必填)" onblur="pass(this.value)"/>
                </div>
            </div>

            <div class="my-lg-5">
                <label for="email" class="col-form-label col-sm-2 float-left text-right">邮箱：</label>
                <div class="form-group">
                    <input type="text" name="email" id="email" class="email col-sm-8 form-control" placeholder="请输入邮箱(必填)" onblur="emails(this.value);"/>
                </div>
            </div>

            <div class="my-lg-5" style="line-height: 40px;">
                <label class="col-form-label col-sm-2 float-left text-right">性别：</label>
                <div class="form-group text-left">
                    女：<input type="radio" value="0" name="sex" checked/>
                    男：<input type="radio" value="1" name="sex"/>
                </div>
            </div>

             <div class="my-lg-5">
                <label for="telephone" class="col-form-label col-sm-2 float-left text-right">验证码：</label>
                  <div class="form-group position-relative">
                    <!--这里是大屏的验证码-->
                    <input type="text" class="col-md-4 col-sm-12 form-control" placeholder="请输入验证码" id="verify" name="captcha_1"/>
                    <div class="position-absolute col-md-3 d-none d-sm-none d-md-block" style="height: 65px;top:0px;right:28%">
                        <img src="{{ image_url }}" alt="captcha" class="captcha"/>
                        <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">
                    </div>
                  </div>
            </div>

            <div class="form-group">
                <button class="btn btn-outline-warning w-75">注册</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="blockquote-footer text-center">
          2018-404-版权所有
    </div>
</div>
</body>
<script>

</script>
</html>